[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ivo/Downloads]
row=3
col=0

[/home/ivo/Documents]
row=8
col=0

[/home/ivo/Pictures]
row=6
col=0

[/home/ivo/Videos]
row=5
col=0

[/home/ivo/Desktop]
row=4
col=0

[/home/ivo/Templates]
row=10
col=0

[/home/ivo/Public]
row=9
col=0

[/home/ivo/miniconda3]
row=0
col=1

[/home/ivo/Music]
row=7
col=0

[/home/ivo/larbs.sh]
row=2
col=1

[/home/ivo/projects]
row=1
col=1

[Wastebasket]
row=0
col=0

[/]
row=1
col=0

[/home/ivo]
row=2
col=0

